<div class="wrapper">
  <div class="section section-dark">

    <slideshow [height]="height" [minHeight]="'525px'" [autoPlay]="true" [showArrows]="true" [imageUrls]="imageUrlArray"
      [lazyLoad]="imageSources?.length > 1" [autoPlayWaitForLazyLoad]="true" [showDots]="true" showCaptions="true">
    </slideshow>
  </div>
  <div class="main">
    <div class="section section-dark">
      <div class="container camping-service-box">
        <div class="row">
          <div class="col text-center">
            <h5 class="service-box-title">
              It is not down in any map; true places never are..
            </h5>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col service-card">
            <div class="ratio img-responsive img-circle" style="background-image: url(/assets/img/service-1.jpg);"></div>
            <div class="text-center">
              <h6>travel to get lost</h6>
              <p class="site-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi iste molestiae necessitatibus
                architecto et quia consequatur?
              </p>
            </div>
          </div>
          <div class="col service-card">
            <div class="ratio img-responsive img-circle" style="background-image: url(/assets/img/service-2.jpg);"></div>
            <div class="text-center">
              <h6>travel to get lost</h6>
              <p class="site-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi iste molestiae necessitatibus
                architecto et quia consequatur?
              </p>
            </div>
          </div>
          <div class="col  service-card">
            <div class="ratio img-responsive img-circle" style="background-image: url(/assets/img/service-3.jpg);"></div>
            <div class="text-center">
              <h6>travel to get lost</h6>
              <p class="site-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi iste molestiae necessitatibus
                architecto et quia consequatur?
              </p>
            </div>
          </div>
          <div class="col service-card">
            <div class="ratio img-responsive img-circle" style="background-image: url(/assets/img/service-5.jpeg);"></div>
            <div class="text-center">
              <h6>travel to get lost</h6>
              <p class="site-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi iste molestiae necessitatibus
                architecto et quia consequatur?
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-dark">
      <div class="container">
        <div class="row">
          <div class="col">
            <ul class="list-group facilities">
              <li class="list-group-item">
                <p class="site-text">Cras justo odio</p>
              </li>
              <li class="list-group-item">
                <p class="site-text">Dapibus ac facilisis in</p>
              </li>
              <li class="list-group-item">
                <p class="site-text">Morbi leo risus</p>
              </li>
              <li class="list-group-item">
                <p class="site-text">Porta ac consectetur ac</p>
              </li>
              <li class="list-group-item">
                <p class="site-text">Vestibulum at eros</p>
              </li>
            </ul>
          </div>
          <div class="col">
            <img src="/assets/img/van-int6e.jpg" alt="" width="100%">
          </div>
        </div>
      </div>
    </div>
    <div class="section  section-dark">
      <div class="booking">
        <div class="text-center site-text">
          <h2>Experience the Wanderlust and Get Lost In the Nature</h2>
        </div>
        <div class="booking-form">

          <form role="form">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm"
                    placeholder="Confirm Password">
                </div>
              </div>
            </div>

            <input type="submit" value="Book Now" class="btn btn-info btn-block">

          </form>
        </div>
      </div>
    </div>
    <div class="section  section-dark">
      <div class="container">
        <div class="row">
          <div class="col">
            <img src="https://firebasestorage.googleapis.com/v0/b/lakshmi-53afa.appspot.com/o/gallery1.jpg?alt=media&token=5383b2a5-a2fe-45ac-925d-54ee0fb8f337"
              alt="" width=100%>
          </div>
          <div class="col">
            <img src="https://firebasestorage.googleapis.com/v0/b/lakshmi-53afa.appspot.com/o/gallery2.jpg?alt=media&token=62f5f842-8f39-4041-a99d-8b0d53e3a94e"
              alt="" width=100%>
          </div>
          <div class="col">
            <img src="https://firebasestorage.googleapis.com/v0/b/lakshmi-53afa.appspot.com/o/gallery3.jpg?alt=media&token=55b65069-f2e2-4737-8dab-d8fe051d9ec4"
              alt="" width=100%>
          </div>
          <div class="col">
            <img src="https://firebasestorage.googleapis.com/v0/b/lakshmi-53afa.appspot.com/o/gallery5.jpg?alt=media&token=cf74d3dc-c488-44a6-b002-7416d751a59e"
              alt="" width=100%>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <img src="https://firebasestorage.googleapis.com/v0/b/lakshmi-53afa.appspot.com/o/gallery6.jpg?alt=media&token=77db3d0d-c026-485f-835f-0e0eb1766485"
              alt="" width=100%>
          </div>
          <div class="col">
            <img src="https://firebasestorage.googleapis.com/v0/b/lakshmi-53afa.appspot.com/o/gallery4.jpg?alt=media&token=691f909f-df49-4064-8f64-66819d4214b4"
              alt="" width=100%>
          </div>
          <div class="col">
            <img src="https://firebasestorage.googleapis.com/v0/b/lakshmi-53afa.appspot.com/o/gallery9.jpg?alt=media&token=7d577ebd-b0c9-4547-ad58-0ff2ac7360ab"
              alt="" width=100%>
          </div>
          <div class="col">
            <img src="https://firebasestorage.googleapis.com/v0/b/lakshmi-53afa.appspot.com/o/gallery8.jpg?alt=media&token=7833dc6c-6a95-4bf1-b544-303d95abf704"
              alt="" width=100%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>